<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJ World Dashboard</title>
</head>
<style type="text/css">
iframe{
min-height:900px !important;
width:100%;
}
</style>

<body>
    <iframe src="https://app.powerbi.com/reportEmbed?reportId=895529fe-dd07-4913-8724-57c3da35e71c&autoAuth=true&ctid=fdc082df-bbee-4c51-b99c-0beea963161c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLWNlbnRyYWwtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>


